body{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
}

h3{
    margin-right: 10%;
    text-align: right;
}

p.title{
    text-align: center;
    margin: 100px;
}

p.text{
    margin: 20px;
    border: rgb(188, 107, 107) 4px outset;
    box-shadow: 12px 12px 2px 1px rgba(104, 98, 104, 0.2);
    padding: 20px;
    text-align: left;
}